!.gitignore
!.editorconfig

# Specific
resources/public/css
resources/public/js
/.vscode

# Generic
*.log

# Mac
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
*.so
.Trash-*

# Windows
$RECYCLE.BIN/
Thumbs.db
Desktop.ini
*.lnk
*.msi
*.exe

# Java/Scala/Clojure
build/
target/
.settings/
pom.xml
.classpath
.project
*.class
*.jar
*.war
/.gradle
/.env
/.lein-env
/.lein-repl-history
/.lein-deps-sum
/.lein-failures
/.nrepl-port
/.nrepl-history
