@import 'reset.css';
:root {
    --font-size: clamp(1.375rem, 2.225vw, 2rem);
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--font-size);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga","dlig";
    line-height: 1.35em;
    letter-spacing: 0.05rem;
    color: #4f4327;
    background-color: #ecc770;
}
h1 {
    font-size: calc(var(--font-size) * 1.5);
}
h2 {
    font-size: calc(var(--font-size) * 1.3);
    font-weight: 300;
}
