@import "reset.css";

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #747f90;
  color: #FFF;
}

body:after {
  background-image: linear-gradient(135deg, #d38312, #002f4b);
}

section, header {
  margin-top: 10em;
  text-align: center;
}

section p.catch, header p.catch {
  color: #e0c583;
  letter-spacing: 0.08em;
}

.terminal {
  display: inline-block;
  padding: 1em;
  color: #4eb355;
  font-family: monospace;
  background-color: #282b35;
}

.terminal .string {
  color: #d28e5d;
}

h1 {
  font-family: sans-serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 100;
  margin-bottom: 0.3em;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

h1 span {
  border: 0.1em solid white;
  padding: 0.3em 0.5em 0.2em;
  display: inline-block;
}

footer {
  line-height: 20px;
  width: 100%;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  font-size: 10px;
  background-color: hsla(0, 0%, 100%, 0.3);
  letter-spacing: 0.03em;
  bottom: 0px;
  color: #747f90;
}

footer a {
  color: #3c5b90;
  text-decoration: none;
  margin: 0 0.5em;
}

footer a:hover {
  text-decoration: underline;
}

footer .heart {
  color: #ff4e4e;
  font-family: sans-serif;
  font-size: 14px;
}