@keyframes dismiss-mov {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(10px);
    opacity: 0;
  }
}

@-moz-keyframes dismiss-mov {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(10px);
    opacity: 0;
  }
}

@-webkit-keyframes dismiss-mov {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(10px);
    opacity: 0;
  }
}

@keyframes show-mov {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes show-mov {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes show-mov {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  font-family:
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  text-align: left;
  direction: ltr;
  font-weight: normal;
  font-feature-settings: kern;
  font-size: 1em;
  background-color: #fff;
  font-synthesis: none;
  color: #212529;
}

[tabindex="-1"]:focus {
  outline: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}

blockquote {
  margin: 0 0 1em;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1em;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

a,
area,
button[role="button"],
input:not([range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5em;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[hidden] {
  display: none;
}

body {
  background: linear-gradient(45deg, #837490, #6a7988);
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  line-height: 20px;
  width: 100%;
  font-family:
    PT Sans Narrow,
    Arial Narrow,
    Arial,
    sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: fixed;
  font-size: 9px;
  background-color: rgba(255, 255, 255, 0.05);
  letter-spacing: 0.07em;
  bottom: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  color: #bbb;
}

footer a {
  color: #ccc;
  text-decoration: none;
  margin: 0 0.3em;
}

footer a:hover {
  color: #ccc;
  text-decoration: underline;
}

footer .heart {
  width: 6px;
  height: 10px;
  margin-right: 6px;
  transform: rotate(315deg);
  position: relative;
  margin-bottom: -1px;
  margin-left: 3px;
  background-color: rgba(206, 36, 168, 0.72);
  border-radius: 3px 3px 0 0;
  display: inline-block;
}

footer .heart:before {
  position: absolute;
  width: 10px;
  height: 6px;
  left: 0;
  bottom: 0;
  content: "";
  background-color: rgba(226, 47, 98, 0.5);
  border-radius: 0 3px 3px 0;
}

a#tnet {
  top: 4px;
  padding: 2px;
  position: absolute;
  cursor: default;
  font-size: 11px;
  display: block;
  color: #000;
  opacity: 0.25;
  left: 4px;
}

p {
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

span.strike {
  text-decoration: line-through;
}

ul.inline {
  margin: 0;
  padding: 0;
  display: inline-block;
}

ul.inline li {
  list-style-type: none;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section.foot {
  width: calc(100vw - 6em);
  justify-content: space-between;
  text-transform: uppercase;
  position: fixed;
  font-weight: 800;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  display: flex;
  bottom: 4em;
  color: #fff;
  left: 3em;
}

section.foot a {
  color: inherit;
  opacity: 0.5;
}

section.foot a:hover {
  text-decoration: none;
  opacity: 1;
}

article {
  width: 97vw;
  margin: 1em 0 0;
  margin-right: auto;
  padding: 0.5em 1em;
  flex-direction: column;
  margin-top: calc(25vh - 7em);
  margin-left: auto;
  display: flex;
  color: #555;
}

article header {
  text-align: center;
}

nav {
  text-align: right;
  padding: 3em;
}

nav a {
  color: #fff;
  font-size: 1.5em;
  opacity: 0.5;
}

nav a:hover {
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

section {
  text-align: center;
}

section .terminal {
  display: inline-block;
  margin-top: 8em;
  padding: 1em;
  color: #4eb355;
  font-family: monospace;
  background-color: #282b35;
}

section .terminal .string {
  color: #d28e5d;
}

section .terminal .normal {
  color: #c7c7c7;
}

section > div {
  margin: 0 1.5em;
}

section.weeks {
  background: white;
  color: #555;
}

h1 {
  line-height: 1em;
  font-family: "Anton", Impact, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.2em;
  font-weight: 300;
  font-size: 5em;
  letter-spacing: 0.15em;
  text-shadow:
    0 1px 5px rgba(0, 0, 0, 0.05),
    0 1px 4px rgba(0, 0, 0, 0.2);
  color: #f7f7f7;
}

h1 svg {
  max-width: 500px;
}

h1 svg path {
  fill: #fffefecf;
}

h1 > span {
  background: linear-gradient(
    270deg,
    #76778c,
    #324f81,
    #961d99,
    #6f788a,
    #3b5789,
    #961d99,
    #6f788a,
    #315189,
    #961d99
  );
  background-size: 700% 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h1 span.border {
  border: 0.1em solid #858c9c;
  padding: 0.3em 0.5em 0.2em;
  display: inline-block;
}

.accent {
  color: rgba(156, 24, 224, 0.8);
}

.about-line {
  font-size: 1.1em;
  font-weight: 300;
  color: rgba(119, 122, 147, 0.8);
  display: inline-block;
  padding: 0.5em 1em;
  text-shadow:
    1px 4px 4px #96a0a9,
    0 0 0 #000,
    1px 4px 6px #96a0a9;
  background-color: #96a0a9;
  background: linear-gradient(
    137deg,
    rgb(150 160 169 / 66%) 0%,
    rgba(165, 178, 189, 1) 35%,
    rgb(141 153 163 / 84%) 100%
  );
}

.end {
  color: #d4d4d4;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

alert-box {
  display: block;
  padding: 5px 2px;
  background: #666;
  color: #eee;
}

.divisor {
  margin-bottom: 0.5em;
}

.online {
  animation: show-mov 200ms ease-in forwards;
}

.offline {
  animation: dismiss-mov 200ms ease-out 5s forwards;
}

@media (max-width: 736px) {
  article header {
    padding-top: 3em;
  }
}

@media (max-width: 383px) {
  article header {
    padding-top: 1.5em;
  }

  footer .made a {
    display: none;
  }
}
